@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* img {
  max-width: 100%;
}

:root {
  --font-primary: "Merriweather", serif;
  --font-secondary: "Roboto", sans-serif;
  --primary-color: #022b61;
  --secondary-color: #022b61;
  --dark-blue: #04367d;
  --black: #000000;
  --light-blue: #10b1e9;
  --light-green: #9bdd34;
  --dark-green: #233803;
  --menu-border-radius: 8px;
  --tools-menu-bg: var(--light-blue);
  --tools-menu-color: var(--black);
  --tools-menu-width: clamp(
    15.625rem,
    13.621rem + 3.23vw,
    17.5rem
  );
  --menu-bg: var(--light-green);
  --menu-color: var(--primary-color);
  --menu-color-hover: var(--light-blue);
  --menu-color-active: var(--light-blue);
  --menu-padding: 20px 0;
  --aside-menu-width: var(--tools-menu-width);
  --footer-bg-bottom: var(--dark-green);
  --footer-socials-color: rgba(255, 255, 255, 0.55);
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: rgb(255, 255, 255);
  background-image: url(../img/body-bg.png);
  font-family: var(--font-secondary);
}
body .wrap__site header.header .header-top {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
body .wrap__site header.header .header-top .wrap-header-top__container {
  height: 170px;
  padding: 20px 0 10px 0;
  display: flex;
  align-items: center;
  gap: clamp(3.75rem, 2.614rem + 1.83vw, 4.813rem);
}
body .wrap__site header.header .header-top .wrap-header-top__container .logo {
  margin-left: clamp(0rem, -4.142rem + 6.68vw, 3.875rem);
}
body .wrap__site header.header .header-top .wrap-header-top__container .header-title {
  font-family: var(--font-primary);
  color: var(--primary-color);
}
body .wrap__site header.header .header-top .wrap-header-top__container .header-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}
body .wrap__site header.header .header-top .wrap-header-top__container .header-title h2 {
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  color: var(--dark-blue);
}
body .wrap__site header.header .box__container nav.main-navigation-bar {
  display: flex;
  border-top-left-radius: var(--menu-border-radius);
  border-top-right-radius: var(--menu-border-radius);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}
body .wrap__site header.header .box__container nav.main-navigation-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body .wrap__site header.header .box__container nav.main-navigation-bar.fixed .tools {
  border-top-left-radius: 0;
}
body .wrap__site header.header .box__container nav.main-navigation-bar.fixed ul.main-menu {
  border-top-right-radius: 0;
}
body .wrap__site header.header .box__container nav.main-navigation-bar .tools {
  padding: var(--menu-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: var(--tools-menu-width);
  background-color: var(--tools-menu-bg);
  border-top-left-radius: var(--menu-border-radius);
}
body .wrap__site header.header .box__container nav.main-navigation-bar .tools a.tool {
  color: var(--tools-menu-color);
  font-weight: 900;
  font-size: 21px;
}
body .wrap__site header.header .box__container nav.main-navigation-bar ul.main-menu {
  padding: var(--menu-padding);
  padding-left: 25px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
  background-color: var(--menu-bg);
  border-top-right-radius: var(--menu-border-radius);
}
body .wrap__site header.header .box__container nav.main-navigation-bar ul.main-menu li.main-menu__list a.main-menu__item {
  text-transform: uppercase;
  font-weight: 700;
  flex: 14;
  color: var(--menu-color);
}
body .wrap__site header.header .box__container nav.main-navigation-bar ul.main-menu li.main-menu__list a.main-menu__item.active {
  color: var(--menu-color-hover);
}
body .wrap__site header.header .box__container nav.main-navigation-bar ul.main-menu li.main-menu__list:hover a {
  color: var(--menu-color-hover);
}
body .wrap__site footer.footer .footer-top {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(80, 130, 0) 100%);
  padding-top: 50px;
}
body .wrap__site footer.footer .footer-top .mountains {
  background-image: url(../img/mountains.png);
  background-repeat: repeat-x;
  background-position: center bottom;
}
body .wrap__site footer.footer .footer-top .mountains .content-box__container .wrap-footer-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1.25rem, -0.202rem + 4.65vw, 5.375rem);
  margin-bottom: 23px;
}
body .wrap__site footer.footer .footer-top .mountains .content-box__container .wrap-footer-images .wrap-img {
  width: 154px;
  aspect-ratio: 154/57;
  cursor: pointer;
}
body .wrap__site footer.footer .footer-top .mountains .content-box__container p {
  padding-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
body .wrap__site footer.footer .footer-top .mountains .content-box__container p a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}
body .wrap__site footer.footer .footer-bottom {
  background-color: var(--footer-bg-bottom);
}
body .wrap__site footer.footer .footer-bottom .footer__container {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .wrap__site footer.footer .footer-bottom .footer__container .footer-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrap__site footer.footer .footer-bottom .footer__container .footer-socials a.social-link {
  color: var(--footer-socials-color);
  font-size: 24px;
}
body .wrap__site footer.footer .footer-bottom .footer__container p {
  text-align: end;
  font-size: 14px;
  color: var(--footer-socials-color);
}
body .wrap__site footer.footer .footer-bottom .footer__container p a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */