@use "./base/index" as base;

[class*="__container"] {
  max-width: 1230px; // 1200px + 15px + 15px
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: rgba(255, 255, 255, 1);
  background-image: url(../img/body-bg.png);

  .lala__container {
    background-color: lime;

    .text {
      font-family: var(--font-secondary);
    }
  }
}
